<!--Import Layout in every page.-->
@model IEnumerable<ProductMate.Models.Users>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form Heading Section-->
<h3 class="uk-heading-line uk-text-center"><span>Register User</span></h3>

<!--Table Section-->
<table class="uk-table uk-table-small uk-table-divider">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact</th>
            <th>Email ID</th>
            <th>Username</th>
            <th>Create Date</th>
            <th>Created By</th>
            <th>Organisation</th>
            <th>User Role</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count() != 0)
            {
                foreach (var clscircular in Model)
                {
                    <tr>
                        <td>@clscircular.strFirstName</td>
                        <td>@clscircular.strLastName</td>
                        <td>@clscircular.strContact</td>
                        <td>@clscircular.strEmailId</td>
                        <td>@clscircular.strUsername</td>
                        <td>@clscircular.dteCreateDate</td>
                        <td>@clscircular.intCreatedBy</td>
                        <td>@clscircular.intOrganisationId</td>
                        <td>@clscircular.intUserRoleId</td>
                        <td>@clscircular.intStatus</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td rowspan="10">Currently no users present</td>
                </tr>
            }
        }
    </tbody>
</table>