<!--Import Layout in every page.-->
@model IEnumerable<ProductMate.Areas.Admin.Models.UserListGrid>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form Heading Section-->
<h3 class="uk-heading-line uk-text-center"><span>User List</span></h3>

<!--Table Section-->
<table class="uk-table uk-table-hover uk-table-small uk-table-divider uk-margin-large">
    <thead>
        <tr>
            <th><!--Checkbox--></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact</th>
            <th>Email ID</th>
            <th>Username</th>
            <th>Create Date</th>
            <th>Created By</th>
            <th>Organisation</th>
            <th>User Role</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count() != 0)
            {
                foreach (var clsUserListGrid in Model)
                {
                    <tr>
                        <td><input type="checkbox" class="uk-checkbox" id="chkUsersId" value="@clsUserListGrid.intUsersId" /></td>
                        <td>@clsUserListGrid.strFirstName</td>
                        <td>@clsUserListGrid.strLastName</td>
                        <td>@clsUserListGrid.strContact</td>
                        <td>@clsUserListGrid.strEmailId</td>
                        <td>@clsUserListGrid.strUsername</td>
                        <td>@clsUserListGrid.dteCreateDate</td>
                        <td>@clsUserListGrid.strCreatedBy</td>
                        <td>@clsUserListGrid.strOrganisation</td>
                        <td>@clsUserListGrid.strUserRole</td>
                        <td>@clsUserListGrid.strStatus</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td rowspan="10">Currently no users present</td>
                </tr>
            }
        }
    </tbody>
</table>